{% if page.meta.source %}
    <div class="source-links">
        {% for filename in page.meta.source %}
            <span class="label label-primary">{{ filename }}</span>
        {% endfor %}
    </div>
{% endif %}

<div class="row">
    {%- if page.parent %}
        <div class="d-none d-xl-block col-xl-2 ">
            {%- block section_nav %}
                <div  class="bs-sidebar affix text-center page-nav bg-transparent">

                {% if page.meta.hauptbild %}
                    <img class="hauptbild" src="bilder/{{ page.meta.hauptbild }}" alt="Hauptbild">
                {%- else %}
                     <div class="hauptbild-ersatz"></div>
                {%- endif %}
                {%- if page.parent %}
                    <ul class=" nav flex-column">
                        {%- for nav_item in page.parent.children %}
                            {%- if not nav_item.children %}
                            <li class="navitem{% if nav_item.active %} active{% endif %}">
                                <a href="{{ nav_item.url|url }}" class="nav-link">{{ nav_item.title }}</a>
                            </li>
                            {%- else %}
                                {%- for child_nav_item in nav_item.children %}
                                <li class=" navitem{% if child_nav_item.active %} active{% endif %}">
                                    <a href="{{ child_nav_item.url|url }}" class="nav-link">{{ child_nav_item.title }}</a>
                                </li>
                                {%- endfor %}
                            {%- endif %}
                        {%- endfor %}
                    </ul>
                {%- endif %}
                </div>
            {%- endblock %}
        </div>
    {%- endif %}
    <div class={{ "col-md-12" if (page.file.url == 'personen.html') else "col-xl-6"}}>

        <div class="row">
            <div class="d-xl-none col-sm-6">
                {% if page.meta.hauptbild %}
                    <img class="hauptbild" src="bilder/{{ page.meta.hauptbild }}" alt="Hauptbild">
                {%- endif %}
            </div>
            <div class="col-sm-6 col-xl-12">
                {% if page.meta.title %}
                    <h2 class="page-title">{{ page.meta.title }}</h2>
                {%- endif %}
                {% if page.meta.name %}
                    <h2 class="name">{{ page.meta.name }}</h2>
                {%- endif %}
                {% if page.meta.geburtsdaten %}
                    <p class="geburtsdaten">{{ page.meta.geburtsdaten }}</p>
                {%- endif %}
            </div>
        </div>
        {{ page.content }}

        {% if page.meta.bilder %}
            <br><br>
            <h3 class="bildquellen-header pt-2 pt-xl-5">Herkunft der Bildquellen</h3>
            <div class="bildquellen container-sm text-center">
            {% for item in page.meta.bilder %}
                {% set slide_index = loop.index -1 %}
                {% for key, value in item.items() %}
                <div class="row mb-4">
                    <div class="col col-md-3">
                        <div data-toggle="modal" data-target="#imageModal">
                            <img class="m-2 bild" src="bilder/{{ key }}" alt="{{ value.unterzeile }}" data-target="#imageCarousel" data-slide-to="{{ slide_index }}"/>
                        </div>
                        <p class="m-2 text-center">{{key}}</p>
                    </div>
                    <div class="col d-flex align-items-center">
                        <p> {{ value.bildquelle}}</p>
                    </div>
                </div>
             {% endfor %}
            {% endfor %}
            </div>
        {%- endif %}

    </div>

    {% if page.meta.bilder %}
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div id="imageCarousel" class="carousel carousel-fade " data-ride="false">
                <div class="carousel-inner">
                    {% for item in page.meta.bilder %}
                    <div class="carousel-item {{ "active" if (loop.index == 1) else "" }}">
                    {% for key, value in item.items() %}
                    <img class="d-block w-100" src="bilder/{{ key }}" alt="{{ value.unterzeile }}">
                    <p class="m-3 text-center carousel-caption unterzeile">{{value.unterzeile }}</p>
                    {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="container uebersicht justify-content-center">
            {% for item in page.meta.bilder %}
                {% if not loop.first %}
                    {% set slide_index = loop.index -1 %}
                    {% for key, value in item.items() %}
                        <span data-toggle="modal" data-target="#imageModal">
                            <img class="bild {{ value.format }}" src="bilder/{{ key }}" alt="{{ value.unterzeile }}"  data-target="#imageCarousel"  data-slide-to="{{ slide_index  }}"/>
                        </span>
                    {% endfor %}
                {%- endif %}
            {% endfor %}
        </div>
    </div>
</div>
{%- endif %}

{%- if page.parent %}
<div  class="col bottom-page-nav d-xl-none bs-sidebar affix text-center page-nav bg-transparent">
    <ul class="nav flex-row ">
        {%- for nav_item in page.parent.children %}
            {%- if not nav_item.children %}
            <li class="navitem{% if nav_item.active %} active{% endif %}">
                <a href="{{ nav_item.url|url }}" class="nav-link">{{ nav_item.title }}</a>
            </li>
            {%- endif %}
        {%- endfor %}
    </ul>
</div>
{%- endif %}